{
  "extends": [
    "prettier",
    "plugin:prettier/recommended",
    "react-app",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "standard-react",
    "eslint:recommended",
    "plugin:import/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "prettier"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react/display-name": "off",
    "padding-line-between-statements": [
      "error",
      { "blankLine": "always", "prev": "*", "next": "return" }
    ],
    "eqeqeq": ["error", "always"],
    "no-console": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parser": "babel-eslint"
}
